* {
  font-family: "Sarasa Mono J";
  font-size: 8pt;
  font-weight: bold;
  border-radius: 0px;
  transition-property: background-color;
  transition-duration: 0.5s;
}

window#waybar {
  background-color: transparent;
}

window>box {
  margin: 0 0px;
  background-color: #fdf6e3;
}

#workspaces {
  margin: 0 0px;
}

#workspaces button {
  color: #5c6a72;
  min-width: 25px;
  min-height: 0px;
  padding: 0 0px;
}

#workspaces button.focused {
  background-color: #93b259;
  color: #fdf6e3;
}

#workspaces button.urgent {
  color: #f85552;
}

#workspaces button:hover {
  background-color: #e6e2cc;
  color: #5c6a72;
}

tooltip {
  background: #eaedc8;
}

tooltip label {
  color: #5c6a72;
}

#mode,
#clock,
#memory,
#temperature,
#cpu,
#custom-music,
#idle_inhibitor,
#temperature,
#backlight,
#pulseaudio,
#network,
#battery,
#custom-powermenu,
#custom-cava-internal {
  padding-left: 8px;
  padding-right: 8px;
}

#memory {
  color: #35a77c;
}

#cpu {
  color: #df69ba;
}

#clock {
  color: #5c6a72;
}

#idle_inhibitor {
  color: #df69ba;
}

#temperature {
  color: #3a94c5;
}

#backlight {
  color: #f57d26;
}

#pulseaudio {
  color: #35a77c;
}

#network {
  color: #8da101;
}

#network.disconnected {
  color: #a6b0a0;
}

#tray {
  padding-right: 8px;
  padding-left: 10px;
}

#window {
  color: #35a77c;
}

#custom-music {
  color: #87c095;
}

#custom-color-switch {
  color: #5c6a72;
}